<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Employees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let album of activeCheckins" type="item-text-wrap" (click)="selectPack(album)">
      <ion-card background-color: #BEBEBE;>
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-label>Name: {{album.employee_name}}</ion-label>
          <ion-item>
            <ion-label> {{album.employee_account_email}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{album.employee_mobile}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label> {{album.employee_designation}} </ion-label>
          </ion-item>
          <ion-item>
            <ion-label> {{album.employee_shift_start}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label> {{album.employee_shift_end}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label> {{album.employee_post_location}}</ion-label>
          </ion-item>

        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content> -->


<ion-header class="red_header">
    <ion-toolbar text-center>
    <ion-title>Representative List</ion-title>
    </ion-toolbar>
  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>  -->
</ion-header>

<ion-content padding>
  <ion-grid>
    <h1 class="_title text_muted mb_10"> Representative List </h1>
    <ion-row>
      <ion-card class="card_list" padding *ngFor="let album of activeCheckins">
        <div class="card_top_bar">
          <h1 class="card_title"> {{album.employee_name}}</h1>
          <p class="text_muted"> {{album.employee_designation}}</p>
        </div>
        <div class="card_bottom_bar">
          <p class="text_dark"> Mobile Number : {{album.employee_mobile}}</p>
          <p class="text_dark"> Location : {{album.employee_post_location}}</p>
        </div>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>