<ion-header>

    <ion-toolbar text-center class="red_header">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
         </ion-buttons>
    <ion-title>Representative List</ion-title>
    <!-- <ion-back-button></ion-back-button> -->
    </ion-toolbar>
   
  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>  -->
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-card class="card_list" padding *ngFor="let album of activeCheckins" (click)="presentModal(album)">
        <div class="card_top_bar">
          <h1 class="card_title"> {{album.employee_name}}</h1>
          <p class="text_muted m_0 "> {{album.employee_designation}}</p>
        </div>
        <div class="card_bottom_bar">
          <p class="text_dark m_0" > Mobile Number : {{album.employee_mobile}}</p>
          <p class="text_dark"> Location : {{album.employee_post_location}}</p>
        </div>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>