<ion-header>
  <ion-toolbar text-center class="black_header">
    <ion-title>Check-in details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dark_mask"></div>
  <ion-grid padding>
    <ion-row>
      <ion-card class="card_list" padding text-center>
        <div class="card_top_bar">
          <h1 class="card_title"> Ajmal Khan</h1>
          <p class="text_dark m_0"> Designation</p>
          <p class="text_dark m_0"> Dealer name </p>
        </div>
        <div class="card_bottom_bar _timing">
          <ion-row>
            <ion-col col-6 text-center style="border-right: 1px solid #eee">
              <p class="text_muted"> Checkin Time <br>
                <span class="bold _text_high"> 90:30 pm</span></p>
            </ion-col>
            <ion-col col-6 text-center>
              <p class="text_muted"> Checkin Time <br>
                <span class="bold _text_high"> 90:30 pm</span></p>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </ion-row>

    <ion-row>
      <ion-card class="card_list" padding>
        <ion-row style="border-bottom: 1px solid #eee;padding-bottom: 5px;margin-bottom: 10px;">
          <ion-col col-6>
            <p class="text_dark m_0">Mobile Number </p>
          </ion-col>
          <ion-col col-6>
            <p class="text_dark m_0">8122336655 </p>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: 1px solid #eee;padding-bottom: 5px;margin-bottom: 10px;">
          <ion-col col-6>
            <p class="text_dark m_0">Location </p>
          </ion-col>
          <ion-col col-6>
            <p class="text_dark m_0">Palakkad </p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>