<ion-header>
  <ion-toolbar text-center class="black_header">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
       </ion-buttons>
    <ion-title>Check-in details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dark_mask"></div>
  <ion-grid padding>
    <ion-row>
      <!-- <ion-card class="card_list" padding text-center *ngFor="let album of activeCheckins"> -->
          <ion-card class="card_list" padding text-center > 
        <div class="card_top_bar">
          <img [src]="imgurl" class="user_img"  style="height: 100px; width: 100px; border-radius: 100px">
          <h1 class="card_title"> {{customer_name}}</h1>
          <p class="text_dark m_0">  {{employee_designation}}</p>
          <p class="text_dark m_0" *ngIf="check_in_for==dealer">{{dealer_name}} </p>
          <p class="text_dark m_0" *ngIf="check_in_for==distributor">{{distributor_name }}</p>
        </div>
        <div class="card_bottom_bar _timing">
          <ion-row>
            <ion-col col-6 text-center style="border-right: 1px solid #eee">
              <p class="text_muted"> Checkin Time <br>
                <span class="bold _text_high"> {{checkin_time}}</span></p>
            </ion-col>
            <ion-col col-6 text-center>
              <p class="text_muted"> Checkin Time <br>
                <span class="bold _text_high"> {{checkout_time}}</span></p>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </ion-row>

    <ion-row>
      <ion-card class="card_list" padding>
        <ion-row style="border-bottom: 1px solid #eee;padding-bottom: 5px;margin-bottom: 10px;">
          <ion-col col-6>
            <p class="text_dark m_0">Mobile Number </p>
          </ion-col>
          <ion-col col-6>
            <p class="text_dark m_0"> </p>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: 1px solid #eee;padding-bottom: 5px;margin-bottom: 10px;">
          <ion-col col-6>
            <p class="text_dark m_0">Location </p>
          </ion-col>
          <ion-col col-6>
            <p class="text_dark m_0"> </p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>