<!-- Default Segment -->
<ion-segment (ionChange)="segmentChanged($event)">

  <ion-segment-button value="today" (click)='todaysCheckin()' checked>
    <ion-label>Today</ion-label>
  </ion-segment-button>

  <ion-segment-button value="dealer" (click)='dealerCheckin()'>
    <ion-label>Dealer</ion-label>
  </ion-segment-button>
  <ion-segment-button value="distributor" (click)='distributorCheckin()'>
    <ion-label>Distributor</ion-label>
  </ion-segment-button>
</ion-segment>


<ion-header>
    <ion-toolbar text-center  class="red_header">
        <ion-title>Check-ins</ion-title>
    </ion-toolbar>
  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>  -->
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-card class="card_list" padding *ngFor="let album of activeCheckins" (click)="selectPack(album)">
        <div class="card_top_bar" *ngFor="let subitem of album.created_by">
          <h1 class="card_title">{{subitem.employee_name}}</h1>
          <p class="text_muted m_0">Location :  {{album.checkin_loc}}</p>
        </div>

        <div class="card_bottom_bar _timing">
            <ion-row>
              <ion-col col-6 text-center style="border-right: 1px solid #eee">
                <p class="text_muted"> Checkin Time <br>
                  <span class="bold _text_high"> {{album.checkin_time}}</span></p>
              </ion-col>
              <ion-col col-6 text-center>
                <p class="text_muted"> Check out Time <br>
                  <span class="bold _text_high"> {{album.checkout_time}}</span></p>
              </ion-col>
            </ion-row>
          </div>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>