

<ion-header>
    <ion-toolbar text-center class="red_header">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
         </ion-buttons>
    <ion-title>Employee Attendance</ion-title>
    </ion-toolbar>
  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>  -->
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-card class="card_list" padding *ngFor="let album of activeCheckins">
          <ion-item *ngFor="let subitem of album.user">
        <div class="card_top_bar">
          <h1 class="card_title"> {{subitem.employee_name}}</h1>
          <p class="text_dark .m_0" > Mobile Number : {{subitem.employee_mobile}}</p>
    
          <p class="text_dark .m_0"> Employee Type : {{subitem.employee_type}}</p>
        </div>
      </ion-item>
        <div class="card_bottom_bar">
         
          <p class="text_dark .m_0"> Location : {{album.employee_post_location}}</p>
         

          <p class="text_dark .m_0" > Status : {{album.status}}</p>
          <p class="text_dark .m_0" > Start Time : {{album.start_time}}</p>
          <p class="text_dark .m_0" > End Time : {{album.start_time}}</p>
          <p class="text_dark .m_0" > Location : {{album.start_location}}</p>
        </div>
      
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>