<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="homee" (click)='tab2Selected()'>
      <ion-icon name="home"></ion-icon>
      <ion-label>HOME</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="viewemployees" *ngIf="userDetails.user_type == 'owner'">
      <img src="assets/img/rep.png" class="tab_img">
      <ion-label>REPRESENTATIVE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="empallcheckin" *ngIf="userDetails.user_type == 'owner'">
      <img src="assets/img/check.png" class="tab_img">
      <ion-label>CHECKINS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clenttype" *ngIf="userDetails.user_type == 'employee'">

      <img src="assets/img/check.png" class="tab_img">
      <ion-label>CHECKINS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profileadmin">
      <img src="assets/img/profile.png" class="tab_img">
      <ion-label>PROFILE</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>