<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="dashboard">

  <ion-card>
    <ion-grid>

      <ion-row style="border: bottom 1px solid #cccccc;">
        <ion-col col-6>
          <p>Checkins Left<span class='count'> {{checkins}} </span></p>
        </ion-col>
        <ion-col col-6 text-right>
          <ion-toggle [(ngModel)]="isToggled" (ionChange)="notify(n1)"></ion-toggle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-button expand="block" color="secondary" (click)="goToCheckIn()" style="width: 100%"
          *ngIf="userDetails.user_type == 'employee'">
          Create Check-In</ion-button>
      </ion-row>

      <ion-row>
        <ion-button expand="block" color="secondary" *ngIf="userDetails.user_type == 'employee'"
          (click)="goToMyCheckin()" style="width: 100%">
          My Check-In</ion-button>
      </ion-row>


      <ion-row>
        <ion-button expand="block" color="secondary" (click)="goToAddEmployee()" style="width: 100%">
          Add Employee</ion-button>
      </ion-row>



      <ion-row>
        <ion-button expand="block" color="secondary" (click)="goToViewEmployee()" style="width: 100%">
          View Employees</ion-button>
      </ion-row>

    </ion-grid>
  </ion-card>
</ion-content>