<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="dashboard">

    <ion-card>
        <ion-grid>
    
          <ion-row style="border: bottom 1px solid #cccccc;">
            <ion-col col-6>
              <p>Checkins Left<span class='count'> {{checkins}} </span></p>
            </ion-col>
            <ion-col col-6 text-right>
                <ion-toggle [(ngModel)]="isToggled" (ionChange)="notify(n1)"></ion-toggle>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-button expand="block" color="secondary" (click)="goToCheckIn()" style="width: 100%"
              *ngIf="userDetails.user_type == 'employee'">
              Create Check-In</ion-button>
          </ion-row>
    
          <ion-row>
            <ion-button expand="block" color="secondary" *ngIf="userDetails.user_type == 'employee'"
              (click)="goToMyCheckin()" style="width: 100%">
              My Check-In</ion-button>
          </ion-row>
    
        </ion-grid>
      </ion-card>

  <!-- <ion-button expand="block" color="secondary" (click)="goToCheckIn()" *ngIf="userDetails.user_type == 'employee'">
    Create Check-In</ion-button>

  <ion-button expand="block" color="secondary" *ngIf="userDetails.user_type == 'employee'">
    My Check-In</ion-button>

  <ion-button expand="block" color="secondary" (click)="triggerStop()"> Stop</ion-button> -->

  <ion-grid class="active-check-ins" *ngIf="activeCheckins.length">
    <ion-row class="head">
      <ion-col>
        Active Check-In
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Name</ion-col>
      <ion-col>Type</ion-col>
      <ion-col>Action</ion-col>
    </ion-row>
    <ion-row *ngFor="let item of activeCheckins">
      <ion-col *ngIf="item.check_in_for == 'distributor'">{{ item.distributor_name }}</ion-col>
      <ion-col *ngIf="item.check_in_for == 'dealer'">{{ item.dealer_name }}</ion-col>
      <ion-col *ngIf="item.check_in_for == 'distributor'">Distributor</ion-col>
      <ion-col *ngIf="item.check_in_for == 'dealer'">Dealer</ion-col>
      <ion-col>
        <ion-button color="warning">Check Out</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>