<ion-header>
  <ion-toolbar text-center padding class="red_header">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
       </ion-buttons>
    <ion-title>View Check-ins</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-card class="card_list" padding *ngFor="let album of activeCheckins">
            <!-- <ion-card class="card_list" padding *ngFor="let album of activeCheckins"> -->
          <div class="card_top_bar" *ngFor="let subitem of album.created_by">
            <h1 class="card_title">{{album.distributor_name}}</h1>
            <p class="text_muted m_0">Check in location :  {{album.checkin_loc}}</p>
            <p class="text_muted m_0">Check out location :  {{album.checkout_loc}}</p>
          </div>
         
  
          <div class="card_bottom_bar _timing">
              <ion-row>
                <ion-col col-6 text-center style="border-right: 1px solid #eee">
                  <p class="text_muted"> Checkin Time <br>
                    <span class="bold _text_high"> {{album.checkin_time}}</span></p>
                </ion-col>
                <ion-col col-6 text-center>
                  <p class="text_muted"> Check out Time <br>
                    <span class="bold _text_high"> {{album.checkout_time}}</span></p>
                </ion-col>
              </ion-row>
            </div>
        </ion-card>
      </ion-row>
    </ion-grid>
  </ion-content>